/* font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif; */
body {
    background: #191919;
    margin: 0px;
    font-family: 'Gilroy-Regular', sans-serif;
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 26px 0px;
    padding: 0px 70px;
    height: 9vh;
}
.button__header{
    border: none;
    background: none;
    display: none;
}
.header__menu-decst {
    display: flex;
}  
logo {
    align-items: center;
    display: flex;
}
.header__menu {
    display: flex;
}
.header__menu-link {
    align-items: center;
    display: flex;
    padding-right: 60px;
}
.header__menu-link a{
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 70px;
    font-size: 40px;
    font-weight: 250;
    line-height: 24px;
    letter-spacing: 0em;
    transition: .5s;
}
.header__menu-link a:hover{
    color: #6E55C4;
    transition: .5s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #6E55C4;
}
.header__menu-buttons {
    display: flex;
    align-items: center;
}
.header__menu-button {
    font-size: 40px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-decoration: none;
    border: 2px solid #6E55C4;
    color: #6E55C4;
    padding: 16px 47px 15px 46px;
    margin: 0px 30px 0px 60px;
    transition: .5s;
}
.header__menu-button:hover{
    color: #fff;
    background: #6E55C4;
    transition: .5s;
}
main {
    padding-bottom: 50px;
}
.main__home{
    flex-grow: 1;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
}
.main__img{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.main__img-1{
    width: 24%;
    background: url(./images/parts-img2.jpg) no-repeat center;
    background-size: cover;
    transition: .5s ease;
}
.main__img-2{
    width: 24%;
    background: url(./images/parts-img1.jpg) no-repeat center;
    background-size: cover;
    transition: .5s ease;
}
.main__img-3{
    width: 24%;
    background: url(./images/parts-img3.jpg) no-repeat center;
    background-size: cover;
    transition: .5s ease;
}
.main__img-4{
    width: 24%;
    background: url(./images/parts-img4.jpg) no-repeat center;
    background-size: cover;
    transition: .5s ease;
}
.block__crenge.__small{
    width: 7%;
}
.main__img-1.__active{
    width: 77%;
    transition: .5s ease;
    background: url(./images/parts-img2.jpg) 100% 100% / 100% 100%  no-repeat;
}
.main__img-2.__active{
    width: 77%;
    transition: .5s ease;
    background: url(./images/parts-img1.jpg) 100% 100% / 100% 100%  no-repeat;
}
.main__img-3.__active{
    width: 77%;
    transition: .5s ease;
    background: url(./images/parts-img3.jpg) 100% 100% / 100% 100%  no-repeat;
}
.main__img-4.__active{
    width: 77%;
    transition: .5s ease;
    background: url(./images/parts-img4.jpg) 100% 100% / 100% 100%  no-repeat;
}
.block__crenge {
    height: 74vh;
    position: relative;
}
.block__crenge-content {
    opacity: 0;
    transition: 0s 0s;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 70px;
    padding: 0px 70px 0px 70px;
    color: #fff;
    pointer-events: none;
}
.main__img-1.__active .block__crenge-content{
    display: flex;
    align-items: flex-end;
    bottom: 70px;
    width: 100%;
    opacity: 1;
    transition: 1s .3s;
}
.main__img-2.__active .block__crenge-content{
    display: flex;
    align-items: flex-end;
    width: 100%;
    opacity: 1;
    transition: 1s .3s;
}
.main__img-3.__active .block__crenge-content{
    display: flex;
    align-items: flex-end;
    bottom: 70px;
    width: 100%;
    opacity: 1;
    transition: 1s .3s;
}
.main__img-4.__active .block__crenge-content{
    display: flex;
    align-items: flex-end;
    bottom: 70px;
    width: 100%;
    opacity: 1;
    transition: 1s .3s;
}
.block__crenge.__active .block__crenge-link {
    pointer-events: all;
}
.block__crenge-content a{
    text-decoration: none;
}
.block__crenge-title {
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 80px;
    font-weight: 300;
    line-height: 104px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    width: 70%;
}
.block__crenge-link {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 94px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    padding-left: 50px;
    border-bottom: 1px solid;
    position: relative;
    /* bottom: 50px; */
    pointer-events: none;
}
.main__default-text{
    font-family: 'Gilroy-Bold', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    color: #fff;
    position: absolute;
    bottom: 70px;
    left: 50px;
    pointer-events: none;
    transition: .5s;
}
.main__default-title{
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 245px;
    font-weight: 300;
    line-height: 308px;
    letter-spacing: 0em;
    text-transform: uppercase;
}
.main__pages-homes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 70px;
    flex-grow: 1;
    justify-content: end;  
    min-height: 90vh;
}
.main__img:hover + .main__default-text {
    transform: translateX(-200%);
    transition: .5 ease;
}
.service__page-wrapper {
    width: 100%;
}
.main__pages-parts{
    background: url(./images/parts-img1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.main__pages-bigrepair{
    background: url(./images/parts-img2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.main__pages-diagnosti{
    background: url(./images/parts-img3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.main__pages-service{
    background: url(./images/parts-img4.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.main__pages-homes-title {
    font-size: 160px;
    font-weight: 300;
    line-height: 150px;
    letter-spacing: 0em;
    color: #fff;
    display: flex;
    width: 40%;
    font-family: 'Gilroy-Light', sans-serif;
    text-transform: uppercase;
}
.main__pages-homesWrapper {
    width: 100%;
    padding-bottom: 180px;
}
/* img.main__pages-homes-img {
    padding-top: 50px;
    padding-bottom: 80px;
} */
.main__pages-homes_info {
    color: #fff;
    padding: 160px 68px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.parts{
    background: url(./images/parts-img1.1.png) no-repeat;
    background-size: cover;
}
.bigrepair{
    background: url(./images/parts-img1.2.png) no-repeat;
    background-size: cover;
}
.diagnosti{
    background: url(./images/parts-img1.3.png) no-repeat;
    background-size: cover;
}
.service{
    background: url(./images/parts-img1.4.png) no-repeat;
    background-size: cover;
}
.main__pages-info_content {
    width: 45%;
}
.main__pages-info_contentText {
    display: flex;
    flex-direction: column;
    font-size: 56px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0em;
    font-family: 'Gilroy-Light', sans-serif;
}
span.main__pages-info_text {
    padding-bottom: 50px;
}
.info_link {
    color: #C50008;
    text-decoration: none;
    border: 3px solid #C50008;
    padding: 19px 0px;
    width: 400px;
    text-align: center;
    transition: .5s;
}
.main__pages-info_images {
    width: 45%;
}
.main__pages-info_images img{
    width: 100%;
}
.main__contact{
    padding: 0px 70px;
    padding-bottom: 50px;
}
.contact__team-title{
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 128px;
    font-weight: 300;
    line-height: 128px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    position: relative;
    z-index: 2;
}
.contact__team-block {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 50px 0px;
}
/* .contact__team-items {
    width: 25% !important;
} */
img.contact__team-item_img {
    width: 100%;
    opacity: .5;
    transition: .5s;
    border: 1px solid #fff;
    border-radius: 30px;
}
.contact__team-textLink {
    display: flex;
    flex-direction: column;
}
.contact__team-text {
    padding: 50px 10px 70px 40px;
    position: absolute;
    bottom: 30px;
    background: none;
    transition: .5s;
    width: 80%;
    border-radius: 20px;
}
.contact__team-textTitle {
    font-size: 48px;
    font-weight: 250;
    line-height: 29px;
    border-bottom: 1px solid #fff;
    transition: .0s;
}
.contact__team-textLink {
    padding-top: 15px;
    transition: 0s;
    font-size: 40px;
}
.contact__team-textSubTitle{
    transition: .0s;
}
.contact__team-textLink a{
    padding-top: 5px;
    display: none;
    color: #fff;
    transition: 0s;
}
.contact__team-textLink a{
    color: #fff;
    text-decoration: none;
    transition: 0s;
}
img.contact__team-item_img:hover{
    opacity: 1;
    border: none;
}
img.contact__team-item_img.actives {
    opacity: 1;
    transition: .5s;
    transform: translateY(-55px) rotate(-3deg);
    border: none;
}
.contact__team-text.actives .contact__team-textSubTitle {
    transition: 0s;
}
.contact__team-text.actives{
    background: #D9D9D9;
    border-radius: 20px;
    color: #000;
    transform: translateY(30px) translateX(80px) rotate(6deg);
    width: 80%;
    transition: .5s;
}
.contact__team-text.actives .contact__team-textTitle{
    border-bottom: 1px solid #000; 
}
.contact__team-text.actives .contact__team-textLink{
    display: flex;
    flex-direction: column;
    transition: 0s;
}
.contact__team-text.actives .contact__team-textLink a{
    display: flex;
    flex-direction: column;
    transition: 0s;
    color: #000;
}
.contact__contact-title {
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 128px;
    font-weight: 300;
    line-height: 128px;
    color: #6E55C4;
}
.contact__contact-link{
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 50px;
    font-weight: 250;
    line-height: 50px;
    font-weight: 200;
    color: #FFFFFF;
}
.contact__contact-link {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}
.contact__contact-link a{
    color: #FFFFFF;
}
.contact__contact-adress {
    display: flex;
    flex-direction: column;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 50px;
    font-weight: 250;
    line-height: 50px;
    font-weight: 200;
    color: #FFFFFF;
}
.contact__contact-social {
    padding-top: 60px;
}
.contact__contact-social a{
    padding-right: 25px;
    text-decoration: none;
    transition: .5s;
}
.contact__contact-social svg{
    transition: .5s;
}
.contact__contact-social path{
    transition: .5s;
}
.contact__contact-social a:hover svg{
    fill: #6E55C4;
    transition: .5s;
}
.contact__contact-social a:hover path{
    fill: #ffffff;
    transition: .5s;
}
.main__service-pageWrapper {
    background: url(./images/bgService.png) no-repeat right top;
    background-size: 35%;
    display: flex;
    flex-direction: column;
}
.service__page-title{
    font-size: 96px;
    font-weight: 300;
    line-height: 110px;
    letter-spacing: -6.5%;
    color: #6E55C4;
    font-family: 'Gilroy-Light', sans-serif;
    padding: 0px 70px;
}
.service__page-info{
    font-size: 40px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -0.065em;
    font-family: 'Gilroy-Light', sans-serif;
    color: #fff;
    width: 40%;
    padding: 12px 70px 22px;
} 
.main__service-slider{
    padding: 0px 70px;
}
.nav-tabs{
    border: none;
}
.nav{
    display: flex;
    flex-wrap: nowrap;
}
.nav-tabs .nav-link{
    padding: 0px;
    border: 0px;
    border-top-left-radius: 0; 
    border-top-right-radius: 0;
    background-color: #fff0;
    color:#FFFFFF;
    margin-top: -50px;
    width: 100%;
    transition: .5s;
}
.nav-tabs .nav-link :hover .service__page-sliderImg{
    filter: grayscale(0);
    transition: .5s;
}
.nav-tabs .nav-link :hover .service__page-sliderNumber {
    color: #6E55C4;
    transition: .5s;
}
.nav-tabs .nav-link.active {
    color:#FFFFFF;
    background-color: #fff0;
    border-color: #fff0;
    width: 100%;
    background: url(./images/servsLinene.png) no-repeat right;
    background-size: contain;
    background-position-x: 80%;
    transition: .9s;
}
.service__page-sliderNumber{
    position: relative;
    top: 50px;
    text-align: end;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 80px;
    font-weight: 100;
    line-height: 97px;
    letter-spacing: 0em;
    z-index: 1;
    transition: .5s;
}
.service__page-sliderTitle {
    padding-top: 10px;
    font-family: 'Gilroy-Light', sans-serif;
    text-align: start;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    width: 80%;
}
.service__page-sliderImg {
    width: 100%;
    filter: grayscale(1);
    transition: 1s;
}
#myTab {
    padding-bottom: 260px;
}
.nav .swiper-slide:nth-child(2n) {
    top: 100px;
}
.swiper2.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    width: 85%;
    margin-left: 0px;
}
.service__page_tab-content {
    padding: 0px 70px;
}
.swiper-button-next {
    width: 14%;
    padding-right: 2%;
}
.custom-next {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.135em;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.76);
    height: 60px;
    align-items: center;
    display: flex;
    top: 100px;
    position: relative;
    transition: .3s;
}
.custom-next:hover{
    background: #C50008;
    transition: .3s;
}
.custom-next svg{
    padding-left: 20px;
}
.custom-next__contact{
    display: none;
}
.tab-content__info{
    display: flex;
    align-items: flex-start;
}
.tab-content__info-text {
    display: flex;
    flex-direction: column;
    padding: 0px 200px 0px 100px;
    width: 70%;
}
.tab-content__info-title {
    display: flex;
    align-items: end;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 110px;
    font-weight: 300;
    line-height: 132px;
    letter-spacing: 0em;
    margin: 0 0 30px;
    gap: 20px;
    color: rgba(110, 85, 196, 1);
}
.tab-content__info-titleNumber{
    font-size: 200px;
    font-weight: 500;
    line-height: 155px;
    color: #ff000000;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke: 1px #FFFFFF;
    text-stroke: 1px #FFFFFF;
}
.tab-content__info-info{
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 56px;
    font-weight: 300;
    line-height: 106px;
    letter-spacing: 0em;
    color: #fff;
    padding: 30px 0px;
}
.tab-content__info img {
    width: 30%;
}
.red__button {
    color: #C50008;
    border: 1px solid #C50008;
    padding: 20px 70px;
    text-decoration: none;
    text-align: center;
    font-size: 55px;
    width: 600px;
    transition: 1s;
    margin: 15px 0 0;
}
.red__button:hover{
    background: #C50008;
    color: #FFFFFF;
    border: 1px solid#c5000700;
}
.info_link:hover {
    background: #C50008;
    color: #FFFFFF;
    border: 3px solid#c5000700;
}
.main__about{
    padding: 140px 70px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.main__about-info {
    width: 50%;
    position: relative;
}
.main__about-infoContent{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.main__about-content {
    padding-bottom: 50px;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
}
.main__about-contentTitle{
    font-family: 'Gilroy-Light', sans-serif;
    text-transform: uppercase;
    font-size: 128px;
    font-weight: 300;
    line-height: 148px;
    letter-spacing: -0.06em;
    color: rgba(110, 85, 196, 0.82);
    padding-bottom: 25px;
}
.main__about-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    font-size: 40px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.035em;
}
.main__about-button {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
    width: 100%;
    align-items: center;
    z-index: 5;
}
.accordeon-item {
    height: 400px;
    width: 400px;
    border-radius: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-image: url(/images/border.png) 96 / 135px / 77px;
    cursor: pointer;
    position: relative;
    background: #191919;
}
.accordeon-item:hover:before {
    content: '';
    position: absolute;
    display: block;
    width: 120%;
    height: 120%;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: #5f49a9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
/* .accordeon-item:hover:after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s ;
} */
/* .accordeon-item.active:after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s ;
} */
@keyframes pulse-ring {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }    
.accordeon-item img {
    position: absolute;
    border-radius: 100%;
    pointer-events: none;
    opacity: 0;
    width: 100%;
    transition: opacity .5s;
}
.accordeon-item:hover img {
    opacity: .5;
}
.accordeon-item.active img {
    opacity: .5;

}
.accordeon-item.active >  .main__about-button{
    opacity: 0;
}
.main__about-buttonsWrapper{
    margin-top: 0px;
    padding-right: 70px;
}
.main__about-buttonsWrapper:nth-child(1){
    margin-top: 0px;
}
.main__about-buttonsWrapper:nth-child(1) {
    display: flex;
    justify-content: end;
}
.main__about-buttonsWrapper:nth-child(3) {
    display: flex;
    justify-content: end;
}
span.close {
    display: flex;
    padding: 20px 30px;
    background: black;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.135em;
    cursor: pointer;
}
span.close svg {
    padding-right: 10px;
}





.accordeon-title{
    opacity: 0;
    transition: opacity .5s;
    top: 0;
    position: absolute;
    pointer-events: none;
}
.accordeon-base{
    display: none;
    background: url(./images/aboutBg.png) no-repeat left top;
    background-size: contain;
}
.accordeon-base.active  {
    display: flex;
}
.accordeon-title.active{
    display: flex;
    opacity: 1;
    transition: .5s;
    position: static;
    pointer-events: all;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 26px 70px;
    flex-shrink: 0;
    background: rgba(16, 16, 16, 1);
}
.footer__info-text {
    font-family: 'Gilroy-Bold', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF59;
    opacity: 0.35;
}
.footer__menu {
    display: flex;
    flex: 0 0 70%;
}
.footer__menu-link {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__menu-link a{
    color: #FFFFFF;
    text-decoration: none;
    /* padding-left: 55px; */
    font-size: 40px;
    font-weight: 250;
    line-height: 24px;
    letter-spacing: 0em;
    transition: .5s;
}
.footer__menu-link a:hover{
    color: #C50008;
    transition: .5s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C50008;
}
.footer__menu-buttons {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.footer__menu-button {
    font-size: 40px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 16px 47px 15px 46px;
    margin: 0px 0px 0px 30px;
    transition: .5s;
}
a.footer__menu-button:hover{
    transition: .5s;
    background: #C50008;
    color: #FFFFFF ;
    border: 2px solid #C50008;
    -webkit-text-stroke-width: 0px;
}

a.footer__menu-button-img {
    padding: 0px 7px;
    transition: .5s;
}
a.footer__menu-button-img path {
    transition: .5s;
}
a.footer__menu-button-img circle {
    transition: .5s;
}
a.footer__menu-button-img:hover path {
    fill: #C50008;
    transition: .5s;
}
a.footer__menu-button-img:hover circle {
    stroke: #C50008;
    transition: .5s;
}



























@media (max-width:1950px){
    .block__crenge {
        height: 68vh;
    }   
    .block__crenge-title {
        font-family: 'Gilroy-Light', sans-serif;
        font-size: 80px;
        font-weight: 300;
        line-height: 104px;
        letter-spacing: 0em;
        text-align: left;
        position: relative;
        bottom: 0px;
        width: 70%;
    }
    .block__crenge-link {
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        padding-left: 50px;
        border-bottom: 1px solid;
        position: relative;
        /* bottom: 50px; */
        pointer-events: none;
    }
    .main__default-text{
        font-family: 'Gilroy-Bold', sans-serif;
        flex-direction: column;
        font-size: 31px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: 0em;
        color: #fff;
        /* padding: 0px 70px; */
        position: absolute;
        /* bottom: 230px; */
    }
    .main__default-title{
        font-family: 'Gilroy-Light', sans-serif;
        font-size: 128px;
        font-weight: 300;
        line-height: 154px;
        letter-spacing: 0em;
    }
    .tab-content__info img{
        width: 50%;
        height: 100%;
    }
    .red__button {
        font-size: 20px;
        width: 400px;
    }
    .tab-content__info-title {
        font-size: 55px;
        font-weight: 300;
        /* line-height: 66px; */
    }
    .tab-content__info-info{
        font-size: 38px;
        font-weight: 300;
        line-height: 53px;
    }
    .custom-next {
        font-size: 20px;
        font-weight: 400;
        line-height: 17px;
    }
    .service__page-sliderTitle {
        font-size: 26px;
        font-weight: 300;
        line-height: 31px;
    }
    .header__menu-link a{
        font-size: 20px;
        padding-left: 50px;
    }
    .header__menu-button {
        font-size: 20px;
        line-height: 20px;
    }
    .main__pages-homes-title {
        font-size: 80px;
        line-height: 96px;
    }
    .main__pages-info_contentText {
        font-size: 28px;
        line-height: 28px;
    }
    .footer__info-text {
        font-size: 15px;
        line-height: 15px;
    }
    .footer__menu-link a{
        font-size: 20px;
        line-height: 20px;
    }
    .footer__menu-button {
        font-size: 20px;
        line-height: 20px;
    }
    .contact__team-textTitle {
        font-size: 24px;
        line-height: 20px;
    }
    .contact__team-textLink {
        font-size: 20px;
    }
    .contact__contact-link{
        font-size: 25px;
        line-height: 28px;
    }
    .contact__contact-adress {
        font-size: 25px;
        line-height: 28px;
    }
    .contact__team-title{
        font-size: 64px;
        line-height: 64px;
    }
    .contact__contact-title {
        font-size: 64px;
        line-height: 64px;
    }
    .service__page-title{
        font-size: 48px;
        font-weight: 300;
        line-height: 55px;
    }
    .service__page-info{
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: -0.065em;
    }


    .main__about{
        padding: 70px 70px;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    .main__about-info {
        width: 40%;
    }
    .main__about-infoContent{
        padding-top: 100px;
    }
    .main__about-content {
        padding-bottom: 50px;
        font-size: 20px;
        line-height: 27px;
    }
    .main__about-contentTitle{
        font-size: 64px;
        line-height: 74px;
        padding-bottom: 25px;
    }
    .main__about-buttons {
        width: 40%;
        font-size: 28px;
        line-height: 34px;
    }
    .main__about-button {
        padding: 10px;
    }
    .accordeon-item {
    height: 300px;
    width: 300px;
    border-radius: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-image: url(./images/border.png) 96 / 96px / 42px;
    cursor: pointer;
}
    .main__about-buttonsWrapper{
        margin-top: -100px;
        padding-right: 0px;
    }
    span.close {
        padding: 20px 30px;
        width: 200px;
        font-size: 20px;
        line-height: 17px;
    }
}
@media (max-width:1850px){
    .block__crenge-title {
        font-size: 80px;
    }
}
@media (max-width:1550px){
    logo img {
        height: 40px;
    }
    .header__menu-button {
        font-size: 15px;
        padding: 10px 20px;
        margin: 0px 20px 0px 0px;
    }
    .header__menu-link {
        padding-right: 30px;
    }
    .header__menu-link a {
        font-size: 14px;
        padding-left: 30px;
    }
    .block__crenge {
        height: 68vh;
    }
    .block__crenge-title {
        font-size: 40px;
        line-height: 46px;
        width: 100%;
    }
    /* .main__img-1.__active .block__crenge-title {
        bottom: 110px;
    }
    .main__img-3.__active .block__crenge-title {
        bottom: 130px;
    }
    .main__img-4.__active .block__crenge-title {
        bottom: 100px;
    } */
    .main__about-buttons {
        width: 50%;
        font-size: 28px;
        line-height: 34px;
    }
    .main__default-title {
        font-size: 90px;
        line-height: 108px;        
    }
    .main__default-text {
        font-size: 22px;
        line-height: 27px;
        /* bottom: 160px; */
    }



    .accordeon-item {
        height: 250px;
        width: 250px;
        border-radius: 250px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-image: url(/images/border.png) 96 / 77px / 33px;
        cursor: pointer;
    }
    .main__pages-homes_info{
        align-items: center;
    }
    .header__menu-buttons img {
        height: 38px;
    }
    .main__pages-homes-title {
        font-size: 65px;
    }
    .main__pages-homesWrapper {
        padding-bottom: 160px;
    }
    .main__pages-info_content {
        width: 40%;
    }
    .main__pages-info_contentText {
        font-size: 24px;
    }
    .main__pages-info_images {
        width: 50%;
    }
    .main__pages-parts{
        background: url(./images/parts-imgAdapt1.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
    .main__pages-bigrepair{
        background: url(./images/parts-imgAdapt2.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
    .main__pages-diagnosti{
        background: url(./images/parts-imgAdapt3.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
    .main__pages-service{
        background: url(./images/parts-imgAdapt4.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
    .tab-content__info-title {
        font-size: 40px;
        font-weight: 300;
        line-height: 66px;
    }
    .service__page-sliderNumber {
        font-size: 60px;
    }
    .tab-content__info-text {
        display: flex;
        flex-direction: column;
        padding: 0px 60px 0px;
        width: 70%;
    }
    .tab-content__info-titleNumber {
        /* font-size: 140px; */
        /* line-height: 100px; */
    }
    .tab-content__info-info {
        font-size: 24px;
        font-weight: 300;
        line-height: 35px;
    }
    .tab-content__info-info {
        padding: 15px 0px;
    }
    .service__page-info {
        width: 60%;
    }
    .custom-next {
        font-size: 18px;
        font-weight: 400;
        line-height: 17px;
        padding: 15px 15px;
        right: -40px;
    }
    .service__page-sliderTitle {
        font-size: 18px;
        font-weight: 300;
        line-height: 31px;
        width: 100%;
    }
    .swiper2.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        width: 100%;
        margin-left: 0px;
    }
    .contact__team-items:hover .contact__team-text {
        background: #D9D9D9;
        border-radius: 20px;
        color: #000;
        transform: translateY(55px) translateX(25px) rotate(5deg);
        width: 70%;
        transition: 1s;
    }
    .contact__team-text {
        padding: 30px 10px 30px;
        width: 65%;
    }
    .contact__team-textTitle {
        font-size: 18px;
        line-height: 1px;
    }
    .contact__team-textLink {
        font-size: 14px;
    }
    .main__about-buttons {
        justify-content: inherit;
    }
    .main__about-infoContent {
        padding-top: 0px;
    }
    .main__about-buttonsWrapper {
        margin-top: -50px;
        padding-right: 0px;
    }
    .main__about-contentTitle {
        font-size: 38px;
        line-height: 38px;
        padding-bottom: 25px;
    }




    .footer__info-img img {
        height: 50px;
    }
    .footer__info-text {
        font-size: 7px;
    } 
    .footer__menu-link a {
        font-size: 14px;
        /* padding-left: 30px; */
    }
    a.footer__menu-button {
        font-size: 14px;
        padding: 10px 20px;
        margin: 0px 0px 0px 10px;
    }
    .footer__menu-buttons img {
        height: 40px;
        width: auto;
        padding: 0px 6px;
    }  
    .footer__menu-buttons {
        display: flex;
        align-items: center;
        padding-left: 0px;
    }
    .footer__menu-buttons svg{
        height: 45px;
    }
    a.footer__menu-button-img {
        padding: 0px 0px;
        padding-left: 10px;
        transition: .5s;
    }
}
@media (max-width:1250px){
    .contact__team-items:hover .contact__team-text {
        width: 81%;
    }
    .contact__team-textTitle {
        font-size: 13px;
    }
    .contact__team-textLink {
        font-size: 13px;
    }
}
@media (max-width:1100px){
    .footer__menu-button-img {
        display: none;
    }
}
@media (max-width:990px){
    .header__menu-decst {
        display: none;
    }    
    .button__header {
        border: none;
        background: none;
        display: flex;
        align-items: center;
    }
    .btn-close__header{
        background: none;
    }
    .modal-content.modal-content__header {
        background: rgba(0, 0, 0, 1);
    }
    .header__menu-link.modal-header__menu-link {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .header__menu-link.modal-header__menu-link a {
        padding-left: 0px;
        padding-top: 20px;
        font-size: 17px;
    }
    .header__menu-buttons.modal-header__menu-buttons {
        padding: 70px 0px;
    }
    .modal-header {
        border-bottom: 0px;
        padding: 30px;
    }
    .modal-body.modal-body__header {
        padding: 0px 30px;
    }
    .btn-close{
        opacity: 1;
    }
    .btn-close:hover{
        opacity: 1;
    }
    .main__img {
        flex-direction: column;
    }
    .main__img-1 {
        width: 100%;
        background: url(./images/parts-img2.jpg) 100% 100% / 100% 100%  no-repeat;
        height: 195px;
        margin-bottom: 15px;
    }
    .main__img-2 {
        width: 100%;
        background: url(./images/parts-img1.jpg) 100% 100% / 100% 100%  no-repeat;
        height: 195px;
        margin-bottom: 15px;
    }
    .main__img-3 {
        width: 100%;
        background: url(./images/parts-img3.jpg) 100% 100% / 100% 100%  no-repeat;
        height: 195px;
        margin-bottom: 15px;
    }
    .main__img-4 {
        width: 100%;
        background: url(./images/parts-img4.jpg) 100% 100% / 100% 100%  no-repeat;
        height: 195px;
        margin-bottom: 15px;
    }
    .main__default-text {
        display: none;
    }
    .main__img-1.__active{
        width: 100%;
        background: url(./images/parts-img1.jpg) 100% 100% / 100% 100% no-repeat;
        height: 195px;
        margin-bottom: 15px;
    }
    .main__img-2.__active{
        width: 100%;
        background: url(./images/parts-img1.jpg) 100% 100% / 100% 100% no-repeat;
        height: 195px;
        margin-bottom: 15px;
    }
    .main__img-3.__active{
        width: 100%;
        background: url(./images/parts-img1.jpg) 100% 100% / 100% 100% no-repeat;
        height: 195px;
        margin-bottom: 15px;
    }
    .main__img-4.__active{
        width: 100%;
        background: url(./images/parts-img1.jpg) 100% 100% / 100% 100% no-repeat;
        height: 195px;
        margin-bottom: 15px;
    }
    .block__crenge.__small {
        width: 100%;
    }
    .accordeon-item:hover:before {
        content: '';
        position: absolute;
        display: block;
        width: 120%;
        height: 120%;
        box-sizing: border-box;
        border-radius: 100%;
        background-color: #5f49a900;
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .block__crenge-content {
        display: flex;
        opacity: 1;
        justify-content: space-between;
        position: relative;
        width: 100%;
        top: 10%;
        bottom: 20%;
        padding: 0px 20px 0px 10px;
    }
    .block__crenge-title {
        font-size: 20px;
        font-weight: 300;
        line-height: 23px;
        width: 30%;
    }
    .main__pages-homes_info {
        flex-direction: column;
        padding: 90px 70px 50px 70px;
    }
    .main__pages-info_content {
        width: 100%;
    }
    .main__pages-info_images {
        width: 100%;
        padding-top: 95px;
    }
    .service__page-info {
        width: 80%;
    }
    .main__service-slider {
        padding: 0px 70px;
        flex-direction: column;
    }
    .custom-next {
        top: -120px;
        right: 0px;
        z-index: 1;
        justify-content: center;
        font-size: 30px;
    }
    .tab-content__info-title {
        font-size: 24px;
        font-weight: 300;
        line-height: 26px;
    }
    .tab-content__info-titleNumber {
        font-size: 80px;
        line-height: 70px;
    }
    .tab-content__info-text {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 30px;
        width: 70%;
    }
    .tab-content__info-info {
        padding: 5px 0px;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
    }
    .red__button {
        font-size: 20px;
        width: 200px;
        padding: 20px 0px
    }
    .contact__team-title {
        font-size: 32px;
        line-height: 32px;
    }
    .contact__contact-title {
        font-size: 32px;
        line-height: 32px;
    }
    .service__page-sliderTitle {
        font-size: 12px;
    }
    .contact__contact-link {
        font-size: 14px;
        line-height: 18px;
    }
    .contact__contact-adress {
        font-size: 14px;
        line-height: 18px;
    }
    .contact__contact-social {
        padding-top: 20px;
    }
    .contact__contact-social img {
        padding-right: 15px;
        height: 40px;
    }
    .main__about {
        flex-direction: column;
    }
    .main__about-info {
        width: 100%;
    }
    .main__about-buttons {
        display: flex;
        width: 80%;
        margin: auto;
        padding-top: 60px;
    }
    .main__about-buttonsWrapper {
        margin-top: 30px;
        padding-right: 0px;
    }
    .accordeon-item {
        height: 150px;
        width: 150px;
        border-radius: 250px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-image: url(/images/border.png) 96 / 54px / 33px;
        font-size: 14px;
        line-height: 17px;
    }
    .main__about-contentTitle {
        font-size: 36px;
        line-height: 36px;
        padding-bottom: 25px;
    }
    .main__about-content {
        padding-bottom: 30px;
        font-size: 13px;
        line-height: 15px;
    }
    span.close {
        padding: 20px 30px;
        width: 170px;
        font-size: 16px;
        line-height: 17px;
    }
    .swiper-slide-next , .swiper-slide-prev{
        opacity: .5;
        pointer-events: none;
    }
    .swiper-slide__service , .swiper-slide__service{
        opacity: 1;
        pointer-events: all;
    }
    .custom-next__contact{
        display: flex;
        top: -20px;
    }
    .contact__contact {
        padding-top: 20px;
    }
    .contact__team-items:hover .contact__team-text {
        width: 90%;
    }
    .contact__team-text {
        width: 90%;
    }
    .contact__team-items:hover .contact__team-text {

        transform: translateY(45px) translateX(15px) rotate(5deg);
    }
    .contact__team-text {
        padding: 20px 10px 20px;
    }
    .footer__menu-link {
        padding-right: 0px;
        display: flex;
        flex-wrap: wrap;
        
    }
    .footer__menu-link a{
        opacity: 54%;
    }
    .footer__menu-button{
        border: none;
        opacity: 1;
        padding: 10px 10px;
        margin: 0px 0px 0px 0px;
    }
    a.footer__menu-button {
        opacity: 1;
    }
    .footer__menu-link a {
        font-size: 14px;
        /* padding-left: 0px; */
        /* padding-right: 30px; */
    }
}

.block__crenge-link-two {
    display: none;
}
@media (max-width:720px){
    header {
        padding: 0px 20px;
    }
    .block__crenge-title {
        display: none;
    }
    .block__crenge-link {
        display: none;
    }
    .block__crenge-content {
        justify-content: flex-end;
        align-items: flex-end;
        height: 80%;
    }
    .main__img {
        padding: 0 10px;
    }
    .main__img-1 {
        margin-bottom: 10px;
    }
    .block__crenge-link-two {
        display: none;
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 36px;
        font-weight: 400;
        text-align: right;
        letter-spacing: 0em;
        color: #fff;
        padding-left: 50px;
        border-bottom: 1px solid;
        position: relative;
        font-size: 14px;
    }
    .block__crenge-link-two {
        display: block;
    }
    .main__about {
        padding: 20px 20px;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    .main__pages-homes {
        padding: 0px 20px;
    }
    .main__pages-homes_info {
        padding: 60px 20px 50px 20px;
    }
    .main__contact {
        padding: 0px 20px;
        padding-bottom: 20px;
    }
    .service__page-info {
        width: 100%;
    }
    .service__page-info {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
    }
    .service__page-title { 
        font-size: 32px;
        font-weight: 300;
        line-height: 35px;
        padding: 0px 20px;
    }
    .service__page-info{
        padding: 12px 20px 22px;
    }
    .main__pages-homes-title {
        font-size: 24px;
    }
    .main__service-slider {
        padding: 0px 20px;
        flex-direction: column;
    }
    .custom-next {
        font-size: 15px;
    }
    .tab-content__info {
        display: flex;
        flex-direction: column-reverse;
    }
    .tab-content__info-title {
        padding-bottom: 20px;
        justify-content: space-between;
    }
    .tab-content__info-info {
        padding: 10px 0px;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
    }
    .tab-content__info-text {
        display: flex;
        flex-direction: column;
        padding: 0px;
        width: 100%;
        padding-bottom: 25px;
    }
    .red__button {
        font-size: 16px;
        width: 100%;
        padding: 12px 0px;
    }
    .service__page_tab-content {
        padding: 0px 20px;
    }
    .tab-content__info img {
        width: 100%;
        height: 100%;
    }
    .info_link {
        width: 100%;
        font-size: 20px;
        padding: 15px 0;
    }
    .modal-dialog {
        margin: 0;
    }
    a.footer__menu-button {
        padding: 0;
        margin: 0;
    }
    .contact__contact-social a svg {
        height: 40px;
    }
    .contact__contact-social a {
        padding-right: 15px;
    }
    .footer__menu-buttons {
        flex: 0 0 50%;
        display: block;
    }
    .contact__team-block {
        padding: 20px 0px;
    }
    .contact__team-items:hover .contact__team-text {
        transform: translateY(35px) translateX(30px) rotate(6deg);
        width: 80%;
    }
    .tab-content__info-titleNumber {
        font-size: 50px;
        line-height: 40px;
    }
    .service__page-sliderNumber {
        font-size: 40px;
    }
    #myTab {
        padding-bottom: 250px;
    }
    .main__about-buttons {
        display: flex;
        width: 80%;
        margin: auto;
        padding-top: 60px;
        margin-bottom: 40px;
    }
    img.contact__team-item_img.actives {
        transform: translateY(-15px) rotate(-3deg);
    }
    .contact__team-text.actives {
        transform: translateY(35px) translateX(30px) rotate(6deg);
    }
    .contact__team-textTitle {
        font-size: 10px;
    }
    .contact__team-text {
        padding: 10px 10px 10px;
    }
    .contact__team-textLink {
        font-size: 9px;
        padding-top: 5px;
    }
    .contact__team-text.actives .contact__team-textSubTitle {
        display: none;
    }
    .contact__team-text.actives .contact__team-textLink a:nth-child(3){
        display: none;
    }
    .contact__team-items:hover .contact__team-text {
        width: 80%;
    }
    .contact__team-text{
        width: 80%;
    }
    .custom-next__contact {
        display: flex;
        top: 0px;
    }
    .contact__contact {
        padding-top: 40px;
    }
    .footer__menu-link a {
        font-size: 10px;
        flex: 0 0 50%;
    }
    .footer__menu-button {
        padding: 0px;
    }
    span.main__pages-info_text {
        font-size: 16px;
    }
    footer {
        padding: 26px 20px;
        width: auto;
        gap: 15px;
    }
    
    .footer__info-img img {
        height: 35px;
    }
}












